@import './variables.scss';

.grid-stack-item-content{
  border-radius: $grid-item-border-radius;
  border-width: $grid-item-border-width;
  border-color: $grid-item-border-color;
  background-color: $grid-item-color;
}

.placeholder-content{
  border-radius: $grid-item-border-radius;
}

