@import './variables.scss';

.calories-color{
  fill: $calories;
}

.protine-color{
  fill: $protine;
}
.fat-color{
  fill: $fat;
}
.carbs-color{
  fill: $carbs;
}
.serving-size-color{
  fill: $serving-size;
}
.serving-type-color{
  fill: $serving-type;
}
.servings-color{
  fill: $servings;
}