@import "./variables.scss";
.log{
  background-color: $color-background-darker;
  border-radius: $log-border-radius;
  border-width: 2px;
  border-color: $log-border-color;
  overflow: hidden;
}

.log-title{
  background-color: $log-title-color;
  border-bottom: 3px solid $log-title-bottom-border;
  border-top: 1px solid $log-title-color
}

.log-day{
  color: $color-trim;
}

.log-add-entry{
  fill: rgb(49, 49, 49);
  border-top:3px solid black;
  transition: all 300ms;
  &:hover{
    fill: white;
  }
}