@import './variables.scss';

.log-form {
  background-color: $color-background-darker;
  border-width: $log-form-border-width;
  border-radius: $log-form-border-radius;
  border-color: $log-form-border-color;
}

.log-form-input{
  height: 50px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-weight: 450;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background-color: rgb(28,28,30);
  box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
  border-radius: 9px;
  border: none;
  outline: none;
  padding: 5px;
  // max-width: 190px;
  transition: .4s;
  &:hover{
    box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
  }
  &:focus{
    box-shadow: 0 0 0 .15vw $color-trim;
  }
}

.log-form-input-small{
  // margin-top:2px
  width:150px
}


.log-form-submit{
  width: 100px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.349);
  background-color: $color-background;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;

  &:hover .log-form-submit-icon-container{
    width: 90px;
    transition-duration: 0.3s;  
  }
  &:hover .log-form-text{
    transform: translate(10px);
    width: 0;
    font-size: 0;
    transition-duration: 0.3s;  
  }
  &:active{
    transform: scale(0.95);
    transition-duration: 0.3s;
  }
}

.log-form-submit-icon-container{
  width: 30px;
  height: 30px;
  background: $color-trim;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.3s;
}

.log-form-submit-icon{
  border-radius: 1px;  
}

.log-form-text{
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: 0.3s;
  font-size: 1.04em;  
}

#calories-fill{
  fill: $log-form-icon-fill;
  transition: all 300ms;
  &:hover{
    fill: rgb(211, 0, 0)
  }
}
#fat-fill{
  fill: $log-form-icon-fill;
  transition: all 300ms;
  &:hover{
    fill: tan
  }
}
#carbs-fill{
  fill: $log-form-icon-fill;
  transition: all 300ms;
  &:hover{
    fill: wheat;
  }
}
#serving-size-fill{
  fill: $log-form-icon-fill;
  transition: all 300ms;
  &:hover{
    fill: rgb(68, 107, 180);
  }
}
#serving-type-fill{
  fill: $log-form-icon-fill;
  transition: all 300ms;
  &:hover{
    fill: greenyellow;
  }
}
#servings-fill{
  fill: $log-form-icon-fill;
  transition: all 300ms;
  &:hover{
    fill: rgb(0, 202, 0);
  }
}