@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables.scss";



// remeber to import sass files into components ex: import './index.scss'

:root{

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}




@import './app.scss';
@import './grid.scss';
@import './settings.scss';
@import './log.scss';
@import './logForm.scss';
