@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables.scss";



// remeber to import sass files into components ex: import './index.scss'

:root{

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-track{
  background-color: $color-background
}
::-webkit-scrollbar-thumb{
  background: $color-background-darker;
  &:hover{
    background-color: $color-trim
  }
  &:active{
    background-color: $color-trim
  }
}

::placeholder{
  color: white;
  opacity: .7;
}



@import './app.scss';
@import './grid.scss';
@import './settings.scss';
@import './log.scss';
@import './logForm.scss';
@import './progressbars.scss';
@import './customize.scss';